---
title: Release Notes for Heimdall Database Proxy for Pivotal Greenplum
owner: Partners
---

These are release notes for Heimdall Database Proxy for Pivotal Greenplum.


##<a id="ver"></a>v1.0.0 (18.12.4.2)

**Release Date:** December 11, 2018


Feature included in this release:

* Initial release -- please see the online documentation once the package is installed for full feature information


