---
title: Release Notes for Heimdall Database Proxy for Pivotal Greenplum
owner: Partners
---

These are release notes for Heimdall Database Proxy for Pivotal Greenplum.

##<a id="ver"></a>v1.0 (18.12.4.0)

**Release Date:** Dec 4, 2018

Features included in this release:

* Initial release

